body {
  color: rgba(39, 48, 59, 0.8);
  font-family: Avenir;
  font-size: 20px;
  margin: 0px;
  background-color: #FAFAFA;
  line-height: 1.8;
}

.main {
  position: relative;
}
.wallpaper {
  position: absolute;
}
.confetti-1 {
  top: 8%;
  left: 10%;
}
.confetti-2 {
  top: 16%;
  right: 17%;
}
.confetti-3 {
  top: 32%;
  left: 47%;
}
.confetti-4 {
  top: 148%;
  right: 67%;
}
.confetti-5 {
  top: 118%;
  left: 87%;
}
.confetti-6 {
  top: 92%;
  right: 87%;
}
.confetti-7 {
  top: 86%;
  right: 62%;
}
.confetti-8 {
  top: 106%;
  right: 22%;
}
.confetti-9 {
  top: 207%;
  left: 67%;
}
.confetti-10 {
  top: 148%;
  right: 87%;
}
.confetti-11 {
  top: 316%;
  right: 12%;
}
.confetti-12 {
  top: 206%;
  left: -1%;
}
.confetti-13 {
  top: 76%;
  right: 20%;
}
.confetti-14 {
  top: 126%;
  right: 42%;
}
.confetti-15 {
  top: 211%;
  left: 34%;
}
.confetti-16 {
  top: 261%;
  left: 12%;
}
.confetti-17 {
  top: 270%;
  right: 12%;
}

.slider {
  line-height: 2.2;
  display: table;
  height: 100vh;
}

.greeting {
  display: table-cell;
  vertical-align: middle;
}

.greeting h1 {
  font-size: 60px;
}

.position {
  font-size: 24px;
  font-weight: lighter;
}

.position a {
  color: rgba(39, 48, 59, 0.8) !important;
}

.about {
  height: 100%;
  margin: 25vh 0;
}

.profile-pic-section {
  text-align: center;
}

.about-txt{
  height: 240px;
  display: table-cell;
  vertical-align: middle;
  font-size: 24px;
}

.skill {
  margin: 8vh 0;
  padding: 0px 40px;
}

.skill a {
  color: rgba(39, 48, 59, 0.8);
}

.contact {
  height: 100%;
  margin: 5vh 0;
}

.card {
  height: 500px;
  width: 360px;
  font-size: 18px;
  margin: auto;
  box-shadow: 0 0 6px 0 rgba(30,45,62,.09);
  background-color: white;
  border-radius: 12px;
  position: relative;
  }

  .card-content {
  padding: 25px;
  text-align: center;
  font-size: 26px;
  }

  .cta-talk {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  border-radius: 12px;
  color: white;
  width: 180px;
  height: 50px;
  line-height: 2;
  margin: 15% auto;
  }

  .decoration-none:hover {
    text-decoration: none;
  }

  .wave {
    width: 360px;
  }


.small-profile-pic {
  max-height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 75px;
  left: 36%;
}

.big-profile-pic {
  max-height: 240px;
  border-radius: 50%;
}

.dot-online {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #00d664;
  position: relative;
  left: 54.5%;
}

.oval-green {
  position: absolute;
  margin-left: 40px;
  margin-top: 50px;
}

.card > p {
  font-size: 12px;
  text-align: center;
  padding-top: 10px;
}

.footer {
  height: 80px;
  background: #303843;
  color: white;
  text-align: center;
  padding: 28px 0px;
  font-size: 16px;
  letter-spacing: 1.2px;
  line-height: 1.8;
}

.forward {
  z-index: 1;
}

.backward {
  z-index: -1;
}

@media only screen
  and (orientation:portrait)
  and (min-device-width: @screen-md-min) {
  .skills {
  height: 100vh;
  }
}

@media only screen
  and (orientation:landscape) {
  .contact {
  margin-bottom: 15vh;
  }
}

@media only screen
  and (orientation:portrait)
  and (max-device-width: 768px) {
  .about {
    margin: 5vh 0;
  }
  .greeting h1 {
  font-size: 80px;
  }
  .greeting {
    height: 105vh;
  }
  .card {
    top: 0%;
  }
  .position {
  font-size: 40px;
  }
  .about-txt {
    font-size: 30px;
  }
  .skill p {
    font-size: 30px;
  }
  .title {
    font-size: 40px;
  }
  .card-content {
    font-size: 30px;
  }
  .card {
    height: 550px;
  }
  .cta-talk {
    height: 60px;
  }
  .profile-pic-section {
    padding-bottom: 5vh;
  }
  .confetti-17 {
  top: 60%;
  left: 20%;
  }
  .confetti-16 {
  top: 164%;
  left: 79%;
  }
  .confetti-11 {
  top: 199%;
  left: 37%;
  }
}




